<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Mascotas</title>
</head>
<body>

<h2>Lista de Mascotas</h2>

<!-- Agregamos botones para agregar dueños y mascotas -->
<a th:href="@{/agregarDuenio}"><button type="button">Agregar Dueño</button></a>
<a th:href="@{/agregarMascota}"><button type="button">Agregar Mascota</button></a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Especie</th>
        <th>Edad</th>
        <th>Dueño</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mascota : ${mascotas}">
        <td th:text="${mascota.id}"></td>
        <td th:text="${mascota.nombre}"></td>
        <td th:text="${mascota.especie}"></td>
        <td th:text="${mascota.edad}"></td>
        <td th:text="${mascota.duenio.nombre}"></td>
        <!--Botones de eliminar y actualizar mascota-->
        <td>
            <a th:href="@{/eliminarMascota/{id}(id=${mascota.id})}"><button type="button">Eliminar</button></a>
            <a th:href="@{/actualizarMascota/{id}(id=${mascota.id})}"><button type="button">Actualizar</button></a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>